.information {
    border: 2px solid white;
    color: white;
    width: 15rem;
    text-align: center;
}
.line {
    color: white;
    width: 2rem;
}
body {
    background-color: black;
}
.round_skills {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
}
p {
    margin: 1rem;
}