body {
    background-color: black;
}
.information {
    border: 2px solid white;
    color: white;
    width: 15rem;
    text-align: center;
    flex: content;
    position: absolute;
    z-index: 1; 
    background-color: red;
    left: 2.5rem;  
}
.line {
    color: white;
    width: 2rem;
}
.round_skills {
    height: 200px;
    width: 200px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    left: 50rem;
    right: auto;
    top: 5rem;
    position: absolute;
    z-index: 2;
    opacity: .70; 
}
.round_contact {
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5rem;
    top: 10rem;
    
}
.round_experiences {
    height: 200px;
    width: 200px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    margin-left: 40rem;
    right: auto;
    margin-top: 10rem;
    z-index: 3;
    opacity: .7;
    
}
.round_formations {
    height: 200px;
    width: 200px;
    background-color: magenta;
    border-radius: 50%;
    display: inline-block;
    margin-left: 32rem;
    right: auto;
    margin-top: -32rem;
    z-index: 0;
    opacity: .7;
    
}
.round_hobbies {
    height: 200px;
    width: 200px;
    background-color: saddlebrown;
    border-radius: 50%;
    display: inline-block;
    margin-left: 48rem;
    margin-right: auto;
    margin-top: -11rem;
    position: absolute;
    opacity: .7;
}
.name, .job {
    margin: 1rem;
}
.skill {
    color: white;  
    position: absolute;
    left: 51rem;
    right: auto;
    top: 7rem;
    z-index: 2;
}
link {
    color: white;
}
.experiences {
    color: white;
    position: absolute:
}
.formation {
    color: white;
    position: absolute;
}
.hobby {
    color: white;
    position: absolute;
    margin-left: 52rem;
    margin-right: auto;
    margin-top: -7.5rem;
}
.imageprofil {
    position: absolute;
    z-index: 0;
    top: 7rem;
    left: 38rem;
    overflow: hidden;
    border-radius: 50%;
    z-index: -1;
    width: 100px;
    height: 100px;
}
.github {
    position: absolute;
    left: 8rem;
    top: 15rem;
    width: 50px;
    height: 50px;
}
.twitter {
    position: absolute;
    left: 12rem;
    top: 14.5rem;
    width: 70px;
    height: 70px;

}
.contact {
    position: absolute;
    left: 8rem;
    top: 11rem;
    color: white;
}
.manette {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 51rem;
    margin-right: auto;
    margin-top: -5rem;
}
.livre {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 55rem;
    margin-right: auto;
    margin-top: -4.7rem;
}